<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>JWT Token Auth</display-name>

  <filter>
    <filter-name>JWTAuthFilter</filter-name>
    <filter-class>com.tsystems.javaschool.websecurity.JWTFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>JWTAuthFilter</filter-name>
    <url-pattern>/protected</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.tsystems.javaschool.websecurity.JWTAuthServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>com.tsystems.javaschool.websecurity.DataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/protected</url-pattern>
  </servlet-mapping>

</web-app>
